{% extends 'enroll/templets/blog/base.html' %}
 {% load static %} 


 {% block msg %}


{% if messages %}
  {% for message in  messages %}
    <div {% if message.tag %}
    class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"
    {% endif %}>
    <strong> {{message}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
{% endif %}
{% endblock msg %}

{% block content %}

<div class="col-sm-10  m-auto">
 <h3 class="text-light mb-5"> Dashboard Page</h3>
 <a href="{% url '/addnewpost/' %}" class=" my-2 btn-success btn">Add Post</a>
 {% if post %}
 <table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titel</th>
      <th scope="col">Desc</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-light">
    {% for posts in post %}
      
    
   <tr>
     <th scope="row">
      {{posts.id}}
     </th>
     <td>{{posts.titel}}</td>
     <td>{{posts.desc}}</td>
     <td class="text-center">
       <a href="{% url '/update_post/' posts.id %}" class="btn btn-warning btn-sm my-2">
         Edit
       </a>
       <form action="{% url '/deletepost/' posts.id %}" method="POST" class="d-inline">
         {% csrf_token %}
         <input type="submit" class="btn btn-danger btn-sm" value="Delete">
       </form>
     </td>
   </tr>
   {% endfor %}
  </tbody>
</table>
 {% endif %}
   

</div>

{% endblock content %}
