{% extends 'enroll/templets/blog/base.html' %}
 {% load static %} 
{% block content %}

<div class="col-sm-10  m-auto">
  <div>
  <h3 class="text-light my-5 ">login Page</h3>
  </div>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    <div class="form-group">
      {% for fm in form %}
            {{fm.label_tag}} <span>{{fm}}</span>   <small class="text-warning">{{fm.errors | striptags}} </small> <br>

       {% endfor %}
    </div>
    <input class="btn btn-success my-2" type="submit" value="submit" />

    
    {% if form.non_field_errors %}
       {% for  error in form.non_field_errors %}
        <p class="my-1">{{error}}</p>
       {% endfor %}
    {% endif %}
      
  </form>
</div>
{% endblock content %}
